
p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
    body {
      background-color: #cad5fa; 
    }
    h1 {
      color: rgb(10, 10, 119); 
    }
     }
    h2 {
      color: rgb(13, 13, 182); 
    }